:root {
    --white: rgb(250, 234, 234);
    --black: rgb(14, 13, 13);
    --cocoa-taupe: rgb(170, 157, 163);
    --orange: rgb(252, 119, 11);
    --burnt-transparent-orange: rgba(252, 119, 11, 0.534);
    --green: rgb(21, 241, 105);
    --teal: rgb(3, 71, 80);
    --light-teal: rgb(4, 167, 167);
    --ff-accent: 'Comfortaa', sans-serif;
    --ff-main: 'Nunito Sans', sans-serif;
    --ff-accent2: 'Righteous', sans-serif;
    --ff-monospace: 'Major Mono Display', monospace;
    --ff-monospace2:'Anonymous Pro', monospace;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: var(--ff-accent);
    text-align: center;
    background-color: white;
    color: var(--black);
    min-height: 100vh;
}

h1 {
    font-family: var(--ff-accent);
}

h1 > p {
    font-size: 1rem; 
}

.container__headerContain {
    background-color: rgba(255, 0, 0, 0.205);
    width: 100vw;
    display: flex;
}

.header-div {
    background-color:red;
    padding: 1.5em .5em 1.5em .5em;
    border-radius: 7px;
    box-shadow: -10px 10px 5px grey;
    cursor: pointer; 
    text-transform: uppercase;
    letter-spacing: .2rem;
    max-width: 30em;
    margin: 0 .7em 0 .7em;
}

.subtitles {
    z-index: 2;
}

.contact {
    position: relative;
    border-radius: 10%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.5em;
    width: 5em;
    top: 2em;
    left: -0.5em;
    cursor: pointer;
}

.contact__image {
    position: absolute;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: url(/Users/casvalkyriespicer/Documents/GitHub/personal-website/pics/pic.jpg);
    background-size: 100%;
    object-fit: center;
    background-color: rgba(248, 248, 242, .3);
    background-blend-mode: lighten;
}

.contact__image--text-p {
    position: absolute;
    width: 3em;
    height: 3em;
    color:greenyellow;
    border: 1px solid greenyellow;
    font-weight: 700;
    left: 1em;
    top: .75em;
    border-radius: 50%;
    font-family: var(--ff-monospace2);
    animation: rotateText 10s linear infinite;
}

@keyframes rotateText {
    0% {
        transform: rotate(0%);
    }
    100% {
        transform: rotate(360deg);
    }
}

.contact__image--text-p > span {
    height: 2em;
    font-weight: 300;
    position: absolute;
    left: 50%;
    top: -1em;
    transform-origin: 0 4em; 
   
}

.buttons {
    grid-area: buttons;
    max-width: 20vw;
    text-align: left;
    font-size: 1rem;
}


.buttons__github {
    background-color: aqua;
    border-radius: 5px;
    border-style: none;
    padding: .5em;
    letter-spacing: .2rem;
    font-family: var(--ff-accent);
    cursor: pointer;
    color: navy;
    margin: 0 .7em 0 0;
}

.buttons__linkedIn {
    background-color: var(--teal);
    border-radius: 5px;
    border-style: none;
    padding: .5em;
    letter-spacing: .2rem;
    font-family: var(--ff-accent);
    cursor: pointer;
    color: white;
    margin: .5em .7em 0 0;
}

.buttons__resume {
    background-color: var(--green);
    border-style: none;
    border-radius: 5px;
    padding: .5em;
    letter-spacing: .2rem;
    font-family: var(--ff-accent);
    cursor: pointer;
    color: navy;
    margin: .5em .7em 0 0;
}


.container-div {
    display: grid;
    grid-template-columns: minmax(1em, 6em) minmax(4em, 5em) minmax(2em, 5em);
    grid-template-areas: 
        /* "header header ....." */
        "buttons subheader2 subheader2"
        "subheader subheader subheader3"
        "project1 project2 ....." 
        "project1 project3 project4"
        "project5 project5 ....."
        "project6 project7 ......"
        "..... project8 project8";
    grid-gap: 1.5em; 
    margin: 1em;
    justify-content: center;
    text-align: center; 
    align-items: center;
    font-size: 1rem;
    max-height: 80vh;
    max-width: 100vw;

}

.subtitle-div {
    background-color: var(--orange);
    grid-area: subheader;
    padding: 2.5em .5em 2.5em .5em;
    border-radius: 7px;
    box-shadow: -10px 10px 5px grey;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: .7rem;
}

.subtitle2-div {
    background-color: var(--orange);
    grid-area: subheader2;
    padding: 2.5em .5em 2.5em .5em;
    border-radius: 7px;
    box-shadow: -10px 10px 5px grey;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: .7rem;
}

.subtitle3-div {
    background-color: rgba(252, 119, 11, 0.534);
    grid-area: subheader3;
    padding: 2.5em .5em 2.5em .5em;
    border-radius: 7px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: .7rem; 
    transform: rotate(-180deg);
}

.subtitle3-div p {
    transform: rotate(-180deg);
    z-index: 1;
}

.project1 {
    background-color: var(--cocoa-taupe);
    grid-area: project1;
    padding: 2.5em .5em 2.5em .5em;
    border-radius: 7px;
    box-shadow: -10px 10px 5px grey;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: .7rem;
}

.project2 {
    background-color: rgb(36, 36, 218);
    grid-area: project2;
    border-radius: 7px;
    padding: 2.5em .5em 2.5em .5em;
    box-shadow: -10px 10px 5px grey;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: white;
}

.project3 {
    background-color: yellow;
    grid-area: project3;
    border-radius: 7px;
    padding: 2.5em .5em 2.5em .5em;
    box-shadow: -10px 10px 5px grey;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.project4 {
    background-color: aqua;
    grid-area: project4;
    border-radius: 7px;
    padding: 2.5em .5em 2.5em .5em;
    box-shadow: -10px 10px 5px grey;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.project5 {
    background-color: rgb(21, 241, 105);
    grid-area: project5;
    border-radius: 7px;
    padding: 2.5em .5em 2.5em .5em;
    box-shadow: -10px 10px 5px grey;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.project6 {
    background-color: rgb(175, 122, 122);
    grid-area: project6;
    border-radius: 7px;
    padding: 2.5em .5em 2.5em .5em;
    box-shadow: -10px 10px 5px grey;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: .7rem;
}

.project7 {
    background-color: rgb(253, 4, 87);
    grid-area: project7;
    border-radius: 7px;
    padding: 2.5em .5em 2.5em .5em;
    box-shadow: -10px 10px 5px grey;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.project8 {
    background-color: rgb(3, 71, 80);
    grid-area: project8;
    border-radius: 7px;
    padding: 2.5em .5em 2.5em .5em;
    box-shadow: -10px 10px 5px grey;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: white;
    font-size: .7rem;
}

.project4__p,
.project1__p,
.project6__p,
.subtitle3-div {
    writing-mode: vertical-rl;
} 

/*~~ Anchor/link styling ~~*/

/* body > a {
    padding: 2em;
    border: 1px solid blue;
} */

.project1__p > a:link,
.project3__p > a:link,
.project4__p > a:link,
.project5__p > a:link,
.project6__p > a:link,
.project7__p > a:link,
.buttons__github > a:link {
    text-decoration: none;
    color: black;
}

.project2__p > a:link,
.project8__p > a:link,
.buttons__resume > a:link,
.buttons__linkedIn > a:link {
    text-decoration: none;
    color: white;
}

.project1__p > a:visited,
.project3__p > a:visited,
.project4__p > a:visited,
.project5__p > a:visited,
.project6__p > a:visited,
.project7__p > a:visited,
.buttons__github > a:link {
    text-decoration: none;
    color: black;
}

.project2__p > a:visited,
.project8__p > a:visited 
{
    text-decoration: none;
    color: white;
}

.project1__p >a:hover,
.project3__p > a:hover,
.project4__p > a:hover,
.project5__p > a:hover,
.project6__p > a:hover,
.project7__p > a:hover,
.buttons__github > a:hover,
.buttons__linkedIn > a:hover { 
    text-decoration: wavy underline slategrey;
}

.project2__p > a:hover,
.project8__p > a:hover {
    text-decoration: wavy underline slategrey;
}

.project1__p > a:active,
.project3__p > a:active,
.project4__p > a:active,
.project5__p > a:active,
.project6__p > a:active,
.project7__p > a:active {
    text-decoration: none;
}

.project2__p > a:active,
.project8__p > a:active {
    text-decoration: none;
}

.hidden {
    display: none;
}

.modal {
    position: absolute;
    width: 100%;
    background-color: var(--burnt-transparent-orange);
    z-index: 4;
    padding-bottom: 20em;
}

.modal__background {
    border-radius: 10px;
    background-color: orangered;
    max-width: 50%;
    height: 100%;
    margin: 0 auto;
    border: 2px solid white;
    padding: .5em;
    font-size: 1rem;
}

.modal__close {
    transform: rotate(45deg);
    cursor: pointer;
    float: left;
    font-weight: 700;
    font-size: 2rem;
    color: white;
}

img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    max-height: 17em;
}

@media (min-width: 800px) {

    body {
        margin: 0 auto;
        padding: 0;
        font-family: var(--ff-accent);
        
        text-align: center;
        color: var(--black);
        min-height: 100vh;
    }
    
    h1 {
        font-family: var(--ff-accent);
    }
    
    h1 > span {
        font-size: 1rem;
    }

    .header-div {
        background-color: red;
        padding: 2.5em 1em 2.5em 1em;
        border-radius: 7px;
        box-shadow: -10px 10px 5px grey;
        max-width: 25em;
        margin-left: 20em;
    }

    .contact {
        position: relative;
        border-radius: 50%;
        background-color: grey;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 11em;
        width: 11em;
        top: .3em;
        left: 2.78em;
    }
    
    .contact__image {
        position: absolute;
        width: 8em;
        height: 8em;
        border-radius: 50%;
        background: url(/Users/casvalkyriespicer/Documents/GitHub/personal-website/pics/pic.jpg);
        background-size: 100%;
        object-fit: center;
        background-color: rgba(248, 248, 242, .3);
        background-blend-mode: lighten;
    }
    
    .contact__image--text-p {
        position: absolute;
        width: 8em;
        height: 8em;
        color:greenyellow;
        font-weight: 700;
        left: 1.5em;
        top: .5em;
        border-radius: 50%;
        font-family: var(--ff-monospace2);
        animation: rotateText 10s linear infinite;
    }
    
    @keyframes rotateText {
        0% {
            transform: rotate(0%);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    .contact__image--text-p > span {
        height: 2em;
        position: absolute;
        left: 50%;
        top: -1em;
        transform-origin: 0 5em; 
    }
    
    
    .container-div {
        display: grid;
        grid-template-columns: minmax(1em, 6em) minmax(1em, 7em) minmax(.5em, 5em) minmax(7em, 10em) minmax(1em, 8em) minmax(2em, 4em) minmax(.5em, 1em);
        grid-template-areas: 
            "header header header header ..... ..... ....."
            "buttons subheader2 subheader2 subheader3 subheader subheader subheader"
            "....... project1 project2 project3 ...... project4 ....."
            "project5 project5 ..... project6 project7 ...... ....."
            "..... ...... project8 project8 ..... ...... .....";
        grid-gap: 1.5em; 
        margin: 1em auto 1em auto;
        justify-content: center;
        text-align: center; 
        align-items: center;
        font-size: 1rem;
        max-height: 100vh;
        max-width: 100vw;
    
    }
    
    .subtitle-div {
        background-color: rgb(252, 119, 11);
        grid-area: subheader;
        padding: 2.5em .5em 2.5em .5em;
        border-radius: 7px;
        box-shadow: -10px 10px 5px grey;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: .2rem;
        font-size: .7rem;
    }
    
    .subtitle2-div {
        background-color: rgb(252, 119, 11);
        grid-area: subheader2;
        padding: 2.5em .5em 2.5em .5em;
        border-radius: 7px;
        box-shadow: -10px 10px 5px grey;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: .2rem;
        font-size: .7rem;
    }

    .subtitle3-div p {
        transform: none;
    }

    .project1 {
        background-color: var(--cocoa-taupe);
        grid-area: project1;
        padding: 2.5em .5em 2.5em .5em;
        border-radius: 7px;
        box-shadow: -10px 10px 5px grey;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: .2rem;
        justify-content: center;
        font-size: 1rem;
        
    }
    
    .project2 {
        background-color: rgb(36, 36, 218);
        grid-area: project2;
        border-radius: 7px;
        padding: 2.5em .5em 2.5em .5em;
        box-shadow: -10px 10px 5px grey;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: .2rem;
    }
    
    .project3 {
        background-color: yellow;
        grid-area: project3;
        border-radius: 7px;
        padding: 2.5em .5em 2.5em .5em;
        box-shadow: -10px 10px 5px grey;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: .2rem;
    }
    
    .project4 {
        background-color: aqua;
        grid-area: project4;
        border-radius: 7px;
        padding: 2.5em .5em 2.5em .5em;
        box-shadow: -10px 10px 5px grey;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: .2rem;
    }
    
    .project5 {
        background-color: rgb(21, 241, 105);
        grid-area: project5;
        border-radius: 7px;
        padding: 2.5em .5em 2.5em .5em;
        box-shadow: -10px 10px 5px grey;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: .2rem;
    }
    
    .project6 {
        background-color: rgb(175, 122, 122);
        grid-area: project6;
        border-radius: 7px;
        padding: 2.5em .5em 2.5em .5em;
        box-shadow: -10px 10px 5px grey;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: .2rem;
        font-size: 1rem;
    }
    
    .project7 {
        background-color: hotpink;
        grid-area: project7;
        border-radius: 7px;
        padding: 2.5em .5em 2.5em .5em;
        box-shadow: -10px 10px 5px grey;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: .2rem;
    }
    
    .project8 {
        background-color: rgb(4, 167, 167);
        grid-area: project8;
        border-radius: 7px;
        padding: 2.5em .5em 2.5em .5em;
        box-shadow: -10px 10px 5px grey;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: .2rem;
        font-size: 1rem;
    }
    
    .project4__p,
    .project1__p {
        writing-mode: vertical-rl;
    } 

    .project6__p,
    .subtitle3-div  {
        writing-mode: horizontal-tb;
    }

}