:root {
    --white: rgb(250, 234, 234);
    --black: rgb(14, 13, 13);
    --ff-accent: 'Comfortaa', sans-serif;
    --ff-main: 'Nunito Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: var(--ff-accent);
    text-align: center;
    background-color: white;
    color: var(--black);
}

h1 {
    font-family: var(--ff-accent);
}

.header-div {
    background-color: rgb(122, 107, 114);
}

.subtitle-div {
        background-color: rgba(247, 152, 114, 0.925);
}

.project1 {
    background-color: rgba(247, 152, 114, 0.925);
}

.project2 {
    background-color: navy;
}

.project3 {
    background-color: yellow;
}

.project4 {
    background-color: aqua;
}

.project5 {
    background-color: green;
}

.project6 {
    background-color: hotpink;
}

.project7 {
    background-color: violet;
}

.project8 {
    background-color: teal;
}