:root {
    --white: rgb(250, 234, 234);
    --black: rgb(14, 13, 13);
    --ff-accent: 'Comfortaa', sans-serif;
    --ff-main: 'Nunito Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: var(--ff-accent);
    text-align: center;
    background-color: var(--white);
    color: var(--black);
}

h1 {
    font-family: var(--ff-accent);
}